<div class="mx-auto bg-gray-50 h-screen">

    <div class="bg-white rounded-lg shadow-md w-10/12 m-auto">

        <!-- Menu -->
        <div class="flex items-center justify-between p-4 mb-2 text-xl shadow rounded">
            <ul class="flex">
                <li class="mr-6">
                    <a routerLink="/home" class="text-gray-700 font-medium hover:text-gray-900">Accueil</a>
                </li>
                <li>
                    <a routerLink="/capture" class="text-gray-700 font-medium hover:text-gray-900">Camera</a>
                </li>
            </ul>
        </div>

        <div class="p-8 pt-0">

            <!-- Header -->
            <div class="flex items-center justify-between my-8">
                <div class="flex items-center">
                    <img src="../../assets/icons/logo.png" alt="Logo" class="h-20 mr-4">
                    <h1 class="text-4xl font-bold text-gray-800">Smart Eye</h1>
                </div>
                <div class="text-gray-500 text-md">
                    {{ currentDate | date: 'fullDate' }}
                </div>
            </div>

            <h2 class="text-3xl text-center font-semibold mb-4">Tableau de bord</h2>

            <!-- Charts -->
            <!-- Gender Bar chart and Line char t-->
            <div class="flex justify-around pt-8">
                <div class="w-2/5 h-80">
                    <canvas id="gender-bar-chart"></canvas>
                </div>
                <div class="w-2/5">
                    <canvas id="gender-months-line-chart"></canvas>
                </div>
            </div>

            <!-- Generation bar chart & Ages histogram -->
            <div class="flex justify-around pt-8">
                <div class="w-2/5 h-80">
                    <canvas id="generations-bar-chart"></canvas>
                </div>
                <div class="w-2/5">
                    <canvas id="generations-histogram"></canvas>
                </div>
            </div>

            <!--            <div id="gender-chart" class="m-auto" style="height:350px; width: 600px;"></div>-->
            <!--            <div id="gender-line"></div>-->

            <!--            <div class="flex justify-around">-->
            <!--                <div id="age-histogram-div" style="width: 500px; height: 500px;"></div>-->
            <!--                <div id="age-chart" style="height:500px; width: 700px;"></div>-->
            <!--            </div>-->


            <!-- Emotions -->

            <div class="w-3/4 m-auto my-8">

                <!-- Separator -->
                <div class="mb-4 mt-6 border-t border-gray-300"></div>

                <h2 class="pt-8 mb-8 text-2xl">Emotions des clients</h2>
                <div class="grid grid-cols-3 gap-8">

                    <!-- Positive emotions  -->

                    <div class="bg-violet-100 p-4 rounded-lg border">
                        <h2 class="text-violet-600 text-xl font-semibold mb-2">Heureux</h2>
                        <p class="text-violet-500 text-lg font-medium">{{ customersMetrics.emotions.happy }}</p>
                    </div>

                    <div class="bg-violet-100 p-4 rounded-lg border">
                        <h2 class="text-violet-600 text-xl font-semibold mb-2">Souriant</h2>
                        <p class="text-violet-500 text-lg font-medium">{{ customersMetrics.facialExpressions.smilesCount }}</p>
                    </div>

                    <div class="bg-violet-100 p-4 rounded-lg border">
                        <h2 class="text-violet-600 text-xl font-semibold mb-2">Calme</h2>
                        <p class="text-violet-500 text-lg font-medium">{{ customersMetrics.emotions.calm }}</p>
                    </div>

                    <!-- Negative emotions -->

                    <div class="bg-indigo-100 p-4 rounded-lg border">
                        <h2 class="text-indigo-600 text-xl font-semibold mb-2">En colère</h2>
                        <p class="text-indigo-500 text-lg font-medium">{{ customersMetrics.emotions.angry }}</p>
                    </div>

                    <div class="bg-indigo-100 p-4 rounded-lg border">
                        <h2 class="text-indigo-600 text-xl font-semibold mb-2">Triste</h2>
                        <p class="text-indigo-500 text-lg font-medium">{{ customersMetrics.emotions.sad }}</p>
                    </div>

                    <div class="bg-indigo-100 p-4 rounded-lg border">
                        <h2 class="text-indigo-600 text-xl font-semibold mb-2">Dégouté</h2>
                        <p class="text-indigo-500 text-lg font-medium">{{ customersMetrics.emotions.disgusted }}</p>
                    </div>

                    <!-- Other Emotions -->
                    <div class="bg-amber-100 p-4 rounded-lg border">
                        <h2 class="text-amber-600 text-xl font-semibold mb-2">Confus</h2>
                        <p class="text-amber-500 text-lg font-medium">{{ customersMetrics.emotions.confused }}</p>
                    </div>

                    <div class="bg-amber-100 p-4 rounded-lg border">
                        <h2 class="text-amber-600 text-xl font-semibold mb-2">Surpris</h2>
                        <p class="text-amber-500 text-lg font-medium">{{ customersMetrics.emotions.surprised }}</p>
                    </div>

                    <div class="bg-amber-100 p-4 rounded-lg border">
                        <h2 class="text-amber-600 text-xl font-semibold mb-2">Effrayé</h2>
                        <p class="text-amber-500 text-lg font-medium">{{ customersMetrics.emotions.fear }}</p>
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>

